<div class="container mt-4">
  <h2>Student List</h2>
  <button mat-raised-button color="primary" routerLink="/students/new">Add Student</button>
  <table mat-table [dataSource]="students" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let student">{{ student.id }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let student">{{ student.firstName }}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let student">{{ student.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let student">{{ student.email }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let student">
        <button mat-button (click)="viewDetails(student.id)" color="accent">Détails</button>
        <button mat-button color="warn" [routerLink]="['/students/edit', student.id]">Edit</button>
        <button mat-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<!-- Section pour afficher les détails de l'étudiant -->
<div *ngIf="studentDetails">
  <h3>Student Details</h3>
  <p><strong>ID:</strong> {{ studentDetails.id }}</p>
  <p><strong>Name:</strong> {{ studentDetails.firstName }} {{ studentDetails.lastName }}</p>
  <p><strong>Email:</strong> {{ studentDetails.email }}</p>

  <!-- Vérifiez si les détails de l'adresse existent -->
  <p *ngIf="addressDetails">
    <strong>Address:</strong> {{ addressDetails.street }} - {{ addressDetails.city }}
  </p>
</div>
